body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:921px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:204px;
  width:1208px;
  height:920px;
  line-height:20px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:91px;
  width:43px;
  height:16px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:91px;
  width:57px;
  height:16px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:84px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:55px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:131px;
  width:265px;
  height:54px;
  font-size:18px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:261px;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:158px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1162px;
  width:1346px;
  height:158px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
