body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:91px;
  width:43px;
  height:16px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:91px;
  width:57px;
  height:16px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:84px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:131px;
  width:105px;
  height:54px;
  font-size:18px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:124px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:124px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:124px;
  width:40px;
  height:40px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:144px;
  width:197px;
  height:1px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:144px;
  width:197px;
  height:1px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:176px;
  width:57px;
  height:16px;
  color:#169BD5;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:174px;
  width:57px;
  height:16px;
  color:#169BD5;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:174px;
  width:57px;
  height:16px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:412px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:207px;
  width:1193px;
  height:411px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:247px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:48px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:233px;
  width:494px;
  height:47px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:249px;
  width:29px;
  height:16px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2124_ann {
  border-width:0px;
  position:absolute;
  left:700px;
  top:245px;
  width:1px;
  height:1px;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:247px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:233px;
  width:207px;
  height:47px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:238px;
  width:487px;
  height:39px;
}
#u2130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:236px;
  width:200px;
  height:42px;
}
#u2131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2131_input:disabled {
  color:grayText;
}
#u2132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:333px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:48px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:319px;
  width:420px;
  height:47px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:324px;
  width:415px;
  height:39px;
}
#u2136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:328px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:328px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:328px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:328px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:414px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:414px;
  width:496px;
  height:170px;
}
#u2147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:560px;
  width:25px;
  height:16px;
  color:#CCCCCC;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:368px;
  width:577px;
  height:217px;
  overflow:hidden;
  visibility:hidden;
}
#u2150_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:217px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:217px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:216px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:13px;
  width:77px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:16px;
  height:229px;
}
#u2155_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:229px;
  overflow:auto;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:47px;
  width:76px;
  height:20px;
  color:#666666;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:81px;
  width:76px;
  height:20px;
  color:#666666;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:116px;
  width:76px;
  height:20px;
  color:#666666;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:150px;
  width:74px;
  height:20px;
  color:#666666;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:184px;
  width:74px;
  height:20px;
  color:#666666;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:13px;
  width:49px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:16px;
  height:229px;
}
#u2168_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:229px;
  overflow:auto;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:47px;
  width:48px;
  height:20px;
  color:#666666;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:81px;
  width:48px;
  height:20px;
  color:#666666;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:116px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:150px;
  width:88px;
  height:20px;
  color:#666666;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:0px;
  width:16px;
  height:229px;
}
#u2177_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:229px;
  overflow:auto;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:13px;
  width:63px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:0px;
  width:16px;
  height:229px;
}
#u2180_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:229px;
  overflow:auto;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:47px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:81px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:13px;
  width:63px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:47px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:81px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:116px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:150px;
  width:62px;
  height:20px;
  color:#666666;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:544px;
  width:140px;
  height:40px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:158px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:690px;
  width:1346px;
  height:158px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
