body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:91px;
  width:43px;
  height:16px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:91px;
  width:57px;
  height:16px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1973_ann {
  border-width:0px;
  position:absolute;
  left:220px;
  top:87px;
  width:1px;
  height:1px;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:84px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:84px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:91px;
  width:29px;
  height:16px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1979_ann {
  border-width:0px;
  position:absolute;
  left:312px;
  top:87px;
  width:1px;
  height:1px;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:94px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:140px;
  width:90px;
  height:94px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:20px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:148px;
  width:243px;
  height:19px;
  font-size:16px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:186px;
  width:98px;
  height:18px;
  color:#999999;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:19px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:186px;
  width:116px;
  height:18px;
  color:#999999;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:223px;
  width:66px;
  height:18px;
  color:#999999;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:223px;
  width:66px;
  height:18px;
  color:#999999;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:825px;
  width:117px;
  height:40px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:825px;
  width:117px;
  height:40px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1995_ann {
  border-width:0px;
  position:absolute;
  left:919px;
  top:821px;
  width:1px;
  height:1px;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:553px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:257px;
  width:927px;
  height:553px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_ann {
  border-width:0px;
  position:absolute;
  left:996px;
  top:253px;
  width:1px;
  height:1px;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:49px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:820px;
  width:217px;
  height:49px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:186px;
  width:117px;
  height:40px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:186px;
  width:117px;
  height:40px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2003_ann {
  border-width:0px;
  position:absolute;
  left:919px;
  top:182px;
  width:1px;
  height:1px;
}
#u2005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:79px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:148px;
  width:222px;
  height:78px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:218px;
  word-wrap:break-word;
}
#u2007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:257px;
  width:85px;
  height:16px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:302px;
  width:30px;
  height:30px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:309px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:350px;
  width:30px;
  height:30px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:357px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:399px;
  width:30px;
  height:30px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:406px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:450px;
  width:30px;
  height:30px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:457px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:496px;
  width:30px;
  height:30px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:503px;
  width:273px;
  height:19px;
  font-size:16px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:552px;
  width:30px;
  height:30px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:559px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:600px;
  width:30px;
  height:30px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:607px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:649px;
  width:30px;
  height:30px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:656px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:700px;
  width:30px;
  height:30px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:707px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:746px;
  width:30px;
  height:30px;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:753px;
  width:273px;
  height:19px;
  font-size:16px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u2049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:158px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:952px;
  width:1346px;
  height:158px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:849px;
  width:29px;
  height:16px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
